altair
brotli
certifi
click
colorama
importlib-metadata
importlib-resources
importlib_metadata
importlib_resources
numpy
pandas
plotly
protobuf
pyarrow
pydeck
requests
scikit-learn
scipy
seaborn
streamlit
ydata-profiling
streamlit-pandas-profiling